/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Paleta colores principales */
  --mediumyellow: #b28a00; /* Pantone 457 C */
  --lightyellow: #f6d300; /* Pantone 3965 C */
  --darkyellow: #ce8b00; /* Pantone 7555 C */
  --principalBrown: #580012; /* Pantone 188 CP */
  --darkBrown: #2e0800; /* Pantone 433 CP */
  --lightblack: #9b9b97; /* Pantone Cool Gray 6 CP */
  --darkgray: #9b9b97; /* Pantone Cool Gray 3 CP */
  --lightgray: #580012;
  --pointsbrawn: #820f13;
  --color-boton-cafe: #c4c5be;

  /* Semantic color variables for this project */
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ejemplo de uso de variables de colores en un elemento */
.mi-clase {
  background-color: var(--color-amarillo-principal);
  color: var(--color-naranja);
}

/* Clases para cada color */
.amarillo-principal {
  color: var(--color-amarillo-principal);
}

.amarillo-secundario {
  color: var(--color-amarillo-secundario);
}

.naranja {
  color: var(--color-naranja);
}

.rojo {
  color: var(--color-rojo);
}

.negro {
  color: var(--color-negro);
}

.gris-oscuro {
  color: var(--color-gris-oscuro);
}

.gris-claro {
  color: var(--color-gris-claro);
}

.marron-principal {
  color: var(--principalBrown);
}

.color-boton-hover {
  color: var(--color-boton-cafe);
}
