
/* #app {

} */

/* Este contiene los posibles bordes que se salgan */
body {
  margin: 0;
  background-color: #151b25;
  color: white;
}

/* main.css */
@font-face {
  font-family: "Bootstrap Icons";
  src: url("/node_modules/bootstrap-icons/font/bootstrap-icons.woff") format("woff"),
       url("/node_modules/bootstrap-icons/font/bootstrap-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

